header {
    text-align: center;
    padding: 20px;
}

body {
    background-image: url(https://i.pinimg.com/564x/4d/9b/a9/4d9ba9ddf92a36df686346439bea0972.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.post-text-box {
    flex: 70%;
    padding: 20px;
}

.profile {
    flex: 70%;
    padding: 20px;
}

.profile img {
    width: 120px;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

.profile h1 {
    text-align: center;
}